{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuran Porto</title>
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/PNG">
    <!-- css do menu -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <!-- css pagina incial -->
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <!-- css pagina sobre -->
    <link rel="stylesheet" href="{% static 'css/sobre.css' %}">
    <!-- css técnologias -->
    <link rel="stylesheet" href="{% static 'css/tecnologias.css' %}">
    <!-- css projetos -->
    <link rel="stylesheet" href="{% static 'css/projetos.css' %}" >
</head>
<body>
    <header class="headerContainer">
        <div class="header">
            
            <script src="assets/js/mobile-navbar.js"></script>
            <img  class="menuIcon" src="{% static 'images/icons/hamburger-square.png' %}" alt="" width="50px" onclick="Mudarestado('escondido')">

            <div class="socialIcons">
                <a href="https://github.com/YuranPorto" target="_blank"><img src="{% static 'images/icons/GitHub-Mark-64px.png' %}" width="40px"></a>
                <a href="https://www.linkedin.com/in/yuran-porto" target="_blank"><img src="{% static 'images/icons/LinkedIn-Mark-64px.png' %}" width="40px"></a>
            </div>

            <nav class="menu" id="escondido" style="display: none;">
                <div class="contentMenu">
                    <ul>
                        <a href="#inicio">
                            <li>
                                Home
                            </li>
                        </a>
                        <a href="#sobre">
                            <li>
                                Sobre mim
                            </li>
                        </a>
                        <a href="#tecnologias">
                            <li>
                                Técnologias
                            </li>
                        </a>
                        <a href="#projetos">
                            <li>
                                Projetos
                            </li>
                        </a>
                        
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    {% block content %}
        
    {% endblock %}

    <footer>
        <div class="criado-por">
            <p>Criado por: <span>Yuran Porto</span></p>
        </div>
        <div class="contato">
            <p>Contato: </p>
            <a href = "mailto:yuranporto@gmail.com"><img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a>
            <a href="https://wa.me/5512982096857" target="_blank"><img src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white" target="_blank"></a>
        </div>
    </footer>

    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/tecnologias.js' %}"></script>
</body>
</html>