{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <title>Inicio</title>
</head>
<body>
    <a name="inicio"></a>
    <section class="homeContainer">
        <article class="leftContent">
            <h1>Yuran Porto</h1>
            <h2><strong>Desenvolvedor Back-end</strong></h2>
            <div class="socialLinks">
                <a href="https://github.com/YuranPorto" target="_blank"><div>GitHub</div></a>
                <a href="https://www.linkedin.com/in/yuran-porto" target="_blank"><div>LinkedIn</div></a>
            </div>
        </article>
        <aside class="rigthConent">
            <img class="picture01" src="{% static 'images/pictures/foto-01-circle.png' %}" alt="Yuran Porto - Desenvolvedor Back-end">
        </aside>
    </section>
</body>
</html>