{% load static %}

<a name="projetos"></a>
<div class="projetos-container">
    <!-- Todos os projetos na lista -->
    <section class="grid-projetos">
        <aside class="imagens-projetos">
            <img src="{% static 'images/pictures/em-breve.png' %}">
        </aside>
        <article class="textos-projetos">
            <h1>Projeto:</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste placeat illum libero, nostrum sunt molestias unde aliquam quos alias aut fuga natus molestiae dicta consectetur tempore aperiam delectus dolorum minus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam et deserunt at magni qui necessitatibus iusto, praesentium autem facilis obcaecati voluptatibus facere voluptate velit, architecto dolores harum sint illo? Accusantium.
            </p>
            <p><a href="#">Acessar o projeto completo</a></p>
        </article>
    </section>
    <hr>
</div>