{% load static %}

<a name="projetos"></a>
<div class="projetos-container">
    <h1 class="header-section">Meus Projetos:</h1>
    <hr>
    <!-- Todos os projetos na lista -->
    {% for projeto in projetos %}
    <section class="grid-projetos">
        <aside class="imagens-projetos">
            <img src="{{ projeto.foto.url }}">
        </aside>
        <article class="textos-projetos">
            <h1>{{ projeto.nome }}:</h1>
            <p>
                {{ projeto.descricao }}
            </p>
            <p><a href="{{ projeto.link }}" target="_blank">Acessar o projeto completo</a></p>
        </article>
    </section>
    <hr>
    {% endfor %}
</div>