{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<body>
    <section class="centralizeBox">
        <a name="sobre"></a>
        <div class="aboutContainer">
            <article class="leftContent">
                <h1>Sobre mim:</h1>
                {% for conteudo in sobre %}
                    <p>{{ conteudo.descricao }}</p>
                {% endfor %}
            </article>
            <aside class="rigthContent">
                <img class="picture02" src="{% static '/images/pictures/foto-02-circle.png' %}" alt="Yuran Porto - Desenvolvedor Back-end">
            </aside>
        </div>
    </section>
</body>
</html>