{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<body>
    <a name="tecnologias"></a>
    <hr>
    <h1 class="header-section">Técnologias que ultilizo:</h1>
    <hr>
    <section class="container-conteudo">
        <div class="container-tecnologias">
            <!-- Ajusta cada item -->
            {% for tecnologia in tecnologias %}
            <div class="conteudo-tecnologias">
                <div class="flex-conteudo">
                    <img src="{{ tecnologia.imagem.url }}" width="25%">
                    <h1><a href="{{ tecnologia.link }}" target="_blank">{{ tecnologia.nome }}:</a></h1>
                    <p>
                        {{ tecnologia.descricao }}
                    </p>
                    <h2>Ninvel de estudo: <br> {{ tecnologia.nivel }}</h2>
                </div>
            </div>
            {% endfor %}
            <!-- Fim de cada conteudo -->
        </div>
    </section>
    <hr>
</body>
</html>