@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300;1,900&display=swap');

:root{
    --based-color: #30ACB3;
    --based-color-transparent: #30acb352;
    --ligth-color: #91FAFF;
    --ligth-transparent-color: #91faff67;
    --middle-color: #6DBBBF;
    --shadow-color: #227B7F;
    --shadow-transparent-color: #227a7fc9;

    --text-font: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #eeeeee;
    overflow-x: hidden;
}

strong{
    text-decoration: none;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: rgb(12, 12, 12);;
}

a.link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

p{
    text-align: justify;
}

hr {
    opacity: 20%;
    max-width: 900px;
    margin: auto;
}

/* MENU */

#escondido{
    display: none;
    justify-content: center;
    align-items: space-between;
    position: fixed;
    top: 9%;
    right: 1%;

    background-color: var(--shadow-transparent-color);
    backdrop-filter: blur(2px);

    width: 25vw;
    height: 87vh;
    border: 2px solid var(--ligth-transparent-color);
    border-radius: 15px 0 0 15px;

    animation-name: animMenu;
    animation-duration: .5s;
    
    opacity: 0;
    transform: translateX(25px);
    animation-fill-mode: forwards;

    overflow: hidden;
}

.contentMenu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;

    text-align: center;
}


.contentMenu ul li {
    font-size: 22pt;
    font-variant: small-caps;
    margin: 5vh 0;
    padding: 30px;

    transition: .3s;
}

.contentMenu ul li:hover{
    background-color: var(--middle-color);
}

.menuIcon{
    position: fixed;
    top: 1vh;
    right: 1vw;
    cursor: pointer;
}

.menuIcon:hover{
    opacity: 50%;
}

.checkboxWrapper:checked{
    display: none;
}

.hamburgerMenu {
    margin: 0;
    position: fixed;
    right: 1%;
    top: 1%;

    background-color: var(--middle-color);
}

.hamburgerMenu img {
    width: 45px;
    content: url(../images/icons/hamburger-square.png);
}

.hamburgerMenu button{
    background-color: var(--based-color-transparent);
    border: 0;
    border-radius: 0;
    width: 45px;
    height: 45px;

}

.socialIcons{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    right: 1.5%;
}

.socialIcons img:hover{
    opacity: 50%;
}

nav ul {
    margin: 5px;
    display: none;
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--based-color);
    width: 100%;
    height: 10vh;
}

.criado-por {
    font-size: x-large;
    font-weight: 700;
}
.criado-por span {
    font-variant: small-caps;
    font-weight: 900;
}

.contato {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.contato p {
    font-size: x-large;
    font-weight: 700;
}

.contato a {
    margin: 0 3px;
}

.contato img {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.411);
    opacity: 70%;
}

.contato img:hover {
    opacity: 100%;
}

.header-section{
    text-align: center;
    font-size: 55pt;
}

@keyframes animMenu {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1100px) {

    #escondido{
        top: 9%;
        right: 0;
        width: 50vw;
        height: 87vh;
    }
    
    .contentMenu ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;   
        text-align: center;
    }

    .contentMenu ul li{
        padding: 3.5vh 0;
        margin: 3vh 0;
    }
}

@media screen and (max-width: 1100px) and (orientation: landscape){
    #escondido{
        top: 15%;
        height: 83vh;
    }

    .contentMenu ul li {
        margin: 2vh 0;
    }

    .socialIcons{
        top: 10%;
        right: 1.5%;
    }

    .socialLinks div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        height: 5vh;

        border: 2px solid rgb(12, 12, 12);
        border-collapse: collapse;
    }

    .socialLinks div a{
        font-size: 10pt;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--based-color);
        width: 100%;
        height: 100%;
        max-height: 30vh;
    }

    .criado-por {
        font-size: x-large;
        font-weight: 700;
    }
    .criado-por span {
        font-variant: small-caps;
        font-weight: 900;
    }

    .contato {
        margin-top: 5px;
        display: flex;
        align-items: center;
    }

    .contato p {
        font-size: x-large;
        font-weight: 700;
    }

    .contato a {
        margin: 0 3px;
    }

    .contato img {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.411);
        opacity: 70%;
    }

    .contato img:hover {
        opacity: 100%;
    }
}